.main-box {
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 10px 10px 0 #000;
    text-align: center;
    padding: 42px 44px;
}

.main-box .main-title {
    margin-bottom: 28px;
}