.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #F25A70;
    text-shadow: 4px 4px 0px #000;
}

.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align:center;
}