.node-card {
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

.node-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 0px;
    width: 40px;
    border: 2.5px dashed #000;
    transform: rotate(90deg) translateX(-62%);
    bottom: 140px;
}

.node-card .title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #F25A70;
    margin-bottom: 50px;
}

.node-card .logo {
    display: flex;
    align-items: center;
    height: 140px;
    border: 5px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #CEB02A;
}

.node-card.-clean .logo {
    padding: 0;
}

.node-card.-first .logo {
    background-color: #F25A70;
}
